@using Lombiq.VueJs.Constants
@using Lombiq.VueJs.Models
@using Microsoft.Extensions.Options
@using OrchardCore.ResourceManagement
@inject IResourceManager ResourceManager
@inject IOptions<ResourceManagementOptions> ResourceManagementOptions

@{
    var shapeModel = (VueComponentApp)Model.ShapeModel;
    var vue = new { shapeModel.ComponentName, shapeModel.ViewModel, shapeModel.ModelProperties };

    var script = ResourceManager.GetRequiredScriptModuleTag(
        ResourceManagementOptions.Value.ContentBasePath,
        ResourceNames.VueComponentApp);
    script.MergeAttribute("defer", null);
}

@* These two will be placed somewhere else later. *@
@Orchard.GetScriptModuleImportMap()
@script

<div id="@shapeModel.Id" class="@shapeModel.Class lombiq-vue" @Json.DataAttribute("vue", vue)></div>
