; See https://pnpm.io/cli/run#shell-emulator for details.
shell-emulator = true

; Print as few commands to the console as possible.
loglevel = warn

; Fixing "missing package" error for airbnb eslint config.
auto-install-peers = true
