; See https://pnpm.io/cli/run#shell-emulator for details.
shell-emulator = true

; Fixing "missing package" error for airbnb eslint config.
auto-install-peers = true

; Skip adding NODE_PATH to binstubs (in /.bin) which can become extremely long for long directory names.
; Removed in pnpm@7, because it's the built-in behavior there.
extend-node-path = false
